<div>
<form #myForm="ngForm" >
    <fieldset>
      <label for="email">Email</label>
      <input id="email" name="mail" type="email" required email [(ngModel)]="model.email" #email="ngModel">
    </fieldset>
    <div *ngIf="submitted && email.errors">
        <span *ngIf="email.errors?.['required']">L'email est requis</span>
        <span *ngIf="email.errors?.['email']">L'email est invalide</span>
      </div>
    

    <fieldset>
      <label for="firstname">firstname</label>
      <input id="firstname" name="firstname" type="text" minlength="3" maxlength="15" required [(ngModel)]="model.firstname" #firstname="ngModel">
    </fieldset>
    <div *ngIf="submitted && firstname.errors">
        <span *ngIf="firstname.errors?.['required']">Le firstname est requis</span>
        <span *ngIf="firstname.errors?.['minlength']">Le firstname doit comporter au moins 3 caractères.</span>
        <span *ngIf="firstname.errors?.['maxlength']">Le firstname ne doit pas dépasser 15 caractères.</span>
      </div>

    <fieldset>
      <label for="lastname">lastname</label>
      <input id="lastname" name="lastname" type="text" minlength="3" maxlength="15" required [(ngModel)]="model.lastname" #lastname="ngModel">
    </fieldset>
    <div *ngIf="submitted && lastname.errors">
        <span *ngIf="lastname.errors?.['required']">Le lastname est requis</span>
        <span *ngIf="lastname.errors?.['minlength']">Le lastname doit comporter au moins 3 caractères.</span>
        <span *ngIf="lastname.errors?.['maxlength']">Le lastname ne doit pas dépasser 15 caractères.</span>
      </div>
   

    <fieldset>
      <label for="password">password</label>
      <input id="password" name="password" type="password" >
    </fieldset>

    <div>
        Form submitted ? {{myForm.submitted}}
        Form valid ? {{myForm.valid}}
        Form invalid ? {{myForm.invalid}}
    </div>
    
    <button (click)="onSubmit()" type="submit">Je m'inscris</button>
</form>
</div>
